<div layout="column"  ng-cloak>
    <md-toolbar class="md-toolbar-tools" id="toolbar">

                <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="sidebar">
           <md-icon><i class="material-icons" style="color: #444444">menu</i> </md-icon>
        </md-button>

        <span class="navbar-logo-text1">Google</span> <span class="navbar-logo-text2">Keep</span>
        <span flex="5"></span>

        <div layout="row" class="search">
            <div layout="row">
            <md-button class="md-icon-button">
               <md-icon><i class="material-icons" style="color: #444444">search</i></md-icon>
            </md-button>
            </div>

             <input type="search" class="input-serach" placeholder="Search" name="search"/>

            <div layout="row">
            <md-button class="md-icon-button">
                <md-icon><i class="material-icons" style="color: #444444">close</i></md-icon>
            </md-button>
            </div>
        </div>

        <div layout="row">
            <md-button class="md-icon-button"> <md-icon><i class="material-icons" style="color: #444444">refresh</i></md-icon></md-button>
            <md-button class="md-icon-button"><md-icon><i class="material-icons" style="color: #444444">view_list</i></md-icon></md-button>
        </div>
        <span flex="5"></span>
        <div layout="row">
            <md-button class="md-icon-button"><md-icon><i class="material-icons" style="color: #444444">apps</i></md-icon></md-button>
            <md-button class="md-icon-button"><md-icon><i class="material-icons" style="color: #444444">notifications_none</i></md-icon></md-button>

            <a ng-click="ctrl.showMenu($event, ctrl.favorites)"><img src="asset/profile.jpg" class="profile"></a>
        </div>


    </md-toolbar>
</div>
