<div layout="column" layout-align="center center">
	 <img
		src="asset/keep.png" width="80" height="80" style="margin-top: 10px;">

	<h4 style="font-family: Arial;">Change Password for FundooNote !</h4>
	   <md-card  class="md-whiteframe-24dp md-padding">
           <form name="myForm">

           

                           <h3>New Password</h3>
                           <md-input-container  class="md-block">
                               <md-icon><i class="material-icons">lock</i></md-icon>
                               <input  type="password" ng-model="passwordModel.newPassword"  name="newPassword" required   minlength="5" md-maxlength="15">
                               <div ng-messages="myForm.newPassword.$error">
                                   <div ng-message="required">Password is required...!</div>
                                   <div ng-message="md-maxlength">Password is too Long...!</div>
                                   <div ng-message="minlength">Password is too short...!</div>
                               </div>
                           </md-input-container>
                           
                           
                           <h3>Confirm Password</h3>
                           <md-input-container  class="md-block">
                               <md-icon><i class="material-icons">lock</i></md-icon>
                               <input  type="password" ng-model="passwordModel.confirmPassword"  name="confirmPassword" required   minlength="5" md-maxlength="15">
                               <div ng-messages="myForm.confirmPassword.$error">
                                   <div ng-message="required">Password is required...!</div>
                                   <div ng-message="md-maxlength">Password is too Long...!</div>
                                   <div ng-message="minlength">Password is too short...!</div>
                               </div>
                           </md-input-container>
                <div layout="row" layout-align='center center' layout-xs="column" ng-cloak="">
                    <md-button ng-click="resetPassword(passwordModel)" ng-disabled="myForm.$invalid" style="background-color: #28a745" class="card-button">Submit</md-button>

                </div>

            </form>

        </md-card>
</div>
